<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pt.isel.adeetc.meic.pdm"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="@string/app_name"
                 android:name=".YambaApplication"
            >

        <service android:name=".services.TimelinePullService"/>
        <service android:name=".services.StatusUploadService"/>

        <service android:name=".services.UserInfoPullService"
                 android:process="pt.isel.adeetc.meic.pdm.userinfopullservice"/>

        <provider
                android:name=".services.TimelineContentProvider"
                android:authorities="pt.isel.adeetc.meic.pdm.timeline.contentprovider">
        </provider>
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoDisplay"
                  android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StatusActivity"
                  android:label="@string/status_activity"/>
        <activity android:name=".TimelineActivity"
                  android:label="@string/timeline_activity"/>
        <activity android:name=".StatusDetailsActivity"
                  android:label="@string/statusDetails_activity"/>
        <activity android:name=".PrefsActivity"
                  android:label="@string/preferences_activity"/>
        <activity android:name=".UserInfoActivity"
                  android:label="@string/user_info_activity"/>

        <receiver android:name=".NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>
</manifest> 